{% extends "base.html" %}

{% block content %}

    


    
{% for h in home %}

       <a href="{{url_for('auth.modifyhome' , value=h.Home_id) }}">{{h.location}} </a><br>
{% endfor %}

<h1></h1>





{% if mod %}
<div class="forms">

    <form action="{{ url_for('auth.landlord') }}" method="post" enctype="multipart/form-data">        
  
              <label for="" class="form-label">Location</label>
              <input  placeholder={{mod.location}}> 
                <br><br>
              <label for="room number"> Number Of Rooms  </label> 
              <input  value={{mod.rooms}}> 
                <br><br>
              <label for="" class="form-label">Description</label>
              <textarea  value={{mod.Home_description}}  ></textarea>    
                <br><br>
                <label name="photo" for="photo">Upload a Photo:</label>
                <input  value={{mod.photo_meta}}> 
                <br><br><br>
        
                <label name="video" for="video">Upload a Video:</label>
                <input  value={{mod.video_meta}}> 
                <br><br><br>
        
                <button type="submit">Submit</button>
  
      </form>
  </div>
{% endif %}


         
   


{% endblock  %}