{% extends "landlord.html" %}

{% block content %}

<h1>This Is Landlord Page</h1>

<div class="forms">

  <form action="{{ url_for('landlord.Post_House') }}" method="post" enctype="multipart/form-data">        

            <label for="" class="form-label">Location</label>
            <input name="location" type="text" class="form-control" id="Location" placeholder="Enter Home Location">
            <br><br>
            <label for="room number"> Number Of Rooms  </label> 
            <input name="rooms" id="room number" ><br><br>
               
          
            <label for="" class="form-label">Description</label>
            <textarea name="Description" class="form-control" id="Description" rows="3"></textarea>
              <label for="">Monthly Price</label>
              <input name="price" type="number" placeholder="Monthly Price In USD"><br><br>

              <label name="photo" for="photo">Upload a Photo:</label>
              <input type="file" id="photo" name="photo" accept="image/*"><br><br>
      
              <label name="video" for="video">Upload a Video:</label>
              <input type="file" id="video" name="video" accept="video/*"><br><br>
      
              <button type="submit">Submit</button>

    </form>
</div>


{% endblock %}