{% extends "base.html" %}

{% block content %}

<h1>This Is Renter's Page</h1>

{% if home %}
<div class="row mt-4">
    {% for house in home %}
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="{{url_for ('static', filename='uploads/'~ house.photo_address)}}" alt="uploaded pic">
            <div class="card-body">
                <p class="card-text">{{house.Home_Description}}</p>
                    <p>Number Of Rooms : {{house.rooms}}</p>
                    {% if house.price %}
                    <p>Monthly Price : {{house.price}} USD</p> 
                    {% endif %}

                    <a href="#" class="btn btn-primary">Owner Address</a>

            </div>
        </div>
    </div>
    {% endfor %}
{% endif %}

{% endblock %}