{% extends "landlord.html" %}

{% block content %}

{% for h in home %}

       <a href="{{url_for('landlord.updatehome' , value=h.Home_id) }}">{{h.location}} </a><br>
{% endfor %}

<h1></h1>


{% if mod %}
<div class="forms">

    <form action="" method="post" enctype="multipart/form-data">        
  
                <label for="" class="form-label">Location</label>
                <input name="location" type="text" class="form-control" id="Location" placeholder={{mod.location}}>

                <label for="room number"> Number Of Rooms  </label> 
                <br>
                <input placeholder="{{mod.rooms}}" name="rooms" id="room number" >
                  <br>
              
                <label for="" class="form-label">Description</label>
                <textarea placeholder="{{mod.Description}}" name="Description" class="form-control" id="Description" rows="3"></textarea>

            
                <label name="photo" for="photo">Upload a Photo:</label>
                <input type="file" id="photo" name="photo" accept="image/*"><br><br>
        
                <label name="video" for="video">Upload a Video:</label>
                <input type="file" id="video" name="video" accept="video/*"><br><br>
        
                <br><br><br>
        
                <button type="submit">Submit</button>
  
      </form>
  </div>
{% endif %}


         
   


{% endblock  %}